:root {
  --ThemeColor-LightSalmon: #dc143c;
  --ThemeColor-DarkGreen: #006400;
  --ThemeColor-SteelBlue: #4682b4;
  --ThemeColor-Maroon: #800000;

  --textColor-DarkSlateGray: #2f4f4f42;
  --textColor-black: #000000;

  --backGround-Gainsboro: #dcdcdc9d;
}
